In [18]:
#importing the required libraries
import pandas as pd

#loading the Excel file after converting it online
df = pd.read_excel('mood_data.xlsx',  parse_dates=True, squeeze=True)

#Checking the data
df

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5080\888851110.py:5: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  df = pd.read_excel('mood_data.xlsx',  parse_dates=True, squeeze=True)

,date,entries__type,entries__value,entries__notes,entries__isHighlighted
0,2021-11-21,Mood,2,NaN,False
1,2021-11-22,Mood,4,NaN,False
2,2021-11-23,Mood,5,NaN,False
3,2021-11-24,Mood,5,NaN,False
4,2021-11-25,Mood,3,NaN,False
...,...,...,...,...,...
252,2022-09-05,Mood,4,NaN,False
253,2022-09-06,Mood,5,NaN,False
254,2022-09-07,Mood,3,NaN,False
255,2022-09-08,Mood,1,NaN,False
256,2022-09-09,Mood,5,NaN,False

In [19]:
#Dropping the not required columns and renaming the ones which are named oddly.
df = df.drop(columns=['entries__type', 'entries__notes', 'entries__isHighlighted'])
df = df.rename(columns={"entries__value": "rating"})

#Checking the data again
df.head(10)

         date  rating
0  2021-11-21       2
1  2021-11-22       4
2  2021-11-23       5
3  2021-11-24       5
4  2021-11-25       3
5  2021-11-26       5
6  2021-11-27       1
7  2021-11-28       5
8  2021-11-29       4
9  2021-11-30       3

In [20]:
#Getting the rolling average of the mood ratings
df['roll'] = df.rolling(window=5).mean()

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_5080\1242558769.py:1: FutureWarning: Dropping of nuisance columns in rolling operations is deprecated; in a future version this will raise TypeError. Select only valid columns before calling the operation. Dropped columns were Index(['date'], dtype='object')
  df['roll'] = df.rolling(window=5).mean()

In [22]:
#Checking the data again with rolling averages added
df

           date  rating  roll
0    2021-11-21       2   NaN
1    2021-11-22       4   NaN
2    2021-11-23       5   NaN
3    2021-11-24       5   NaN
4    2021-11-25       3   3.8
..          ...     ...   ...
252  2022-09-05       4   4.6
253  2022-09-06       5   4.6
254  2022-09-07       3   4.4
255  2022-09-08       1   3.6
256  2022-09-09       5   3.6

[257 rows x 3 columns]

In [23]:
#Creating the columns for months and days
df['date'] = pd.to_datetime(df['date'])
df['day'] = df['date'].dt.day_name()
df['month'] = df['date'].dt.month

In [24]:
#Creating a function to convert ratings into a certain mood 
def change_func(x):
    if x == 1:
        return "Sad"
    elif x == 2:
        return "Unhappy"
    elif x == 3:
        return "Okay"
    elif x == 4:
        return "Happy"
    elif x == 5:
        return "Very Happy"

df["mood"] = df["rating"].apply(lambda x: change_func(x))    

#Creating a function to convert month value into month names
def change_month_func(x):
    if x == 1:
        return "January"
    elif x == 2:
        return "February"
    elif x == 3:
        return "March"
    elif x == 4:
        return "April"
    elif x == 5:
        return "May"
    elif x == 6:
        return "June"
    elif x == 7:
        return "July"
    elif x == 8:
        return "August"
    elif x == 9:
        return "September"
    elif x == 10:
        return "October"
    elif x == 11:
        return "November"
    elif x == 12:
        return "December"

df["month"] = df["month"].apply(lambda x: change_month_func(x))

In [25]:
#Chekcing our final data
df

          date  rating  roll        day      month        mood
0   2021-11-21       2   NaN     Sunday   November     Unhappy
1   2021-11-22       4   NaN     Monday   November       Happy
2   2021-11-23       5   NaN    Tuesday   November  Very Happy
3   2021-11-24       5   NaN  Wednesday   November  Very Happy
4   2021-11-25       3   3.8   Thursday   November        Okay
..         ...     ...   ...        ...        ...         ...
252 2022-09-05       4   4.6     Monday  September       Happy
253 2022-09-06       5   4.6    Tuesday  September  Very Happy
254 2022-09-07       3   4.4  Wednesday  September        Okay
255 2022-09-08       1   3.6   Thursday  September         Sad
256 2022-09-09       5   3.6     Friday  September  Very Happy

[257 rows x 6 columns]

In [14]:
#Exporting to Execel for visualizations
df.to_excel("mood_data_cleaned.xlsx")